[package]
name = "bot"
version = "0.1.0"
authors = ["Edward Zelis <zeledvards@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tracing = "0.1.25"
tracing-subscriber = "0.2.16"
tracing-futures = "0.2.5"

serenity = "0.10.4"
tokio = { version = "1.2.0", features = ["macros", "rt-multi-thread"] }
yaml-rust = "0.4.5"

[dependencies.songbird]
version = "0.1.4"
features = ["builtin-queue"]

